In [2]:
import pandas as pd
data = pd.read_excel('job_bigData.xlsx')

In [3]:
data.head()

,城市,公司名称,学历要求,工作经验,招聘岗位,薪资待遇,职位描述
0,上海市,神州通誉软件上海股份有限公司,本科,10年以上,大数据开发组长,24000-27000元/月,任职要求：\t\n1、计算机相关专业全日制本科及以上学历，8年及以上数据类(数仓、BI可视化...
1,上海市,上海人工智能网络系统工程技术研究中心有限公司,本科,5-10年,大数据运维工程师,20000-35000元/月,工作职责：\n1.负责 Nebula 和 Doris 集群的部署、升级、监控、维护和优化工作...
2,上海市,上海墨绿科技有限公司,大专,不限,大数据专员,3000-5000元/月,专业处理数据，需要计算机专业，
3,上海市,河南信大网御科技有限公司,本科,3-5年,高级大数据开发工程师,16000-22000元/月,职责描述：\n1、负责运营商B/O/M域的数据分析、挖掘、建模等工作，如城市常住人口、人流量...
4,上海市,上海数禾信息科技有限公司,本科,5-10年,大数据平台开发专家,40000-70000元/月,岗位职责:\n1、参与大数据体系技术选型、架构设计，根据业务场景提供最优的解决方案；\n2、...

In [4]:
print(len(data))
print(data.count())

331
城市      331
公司名称    331
学历要求    331
工作经验    330
招聘岗位    331
薪资待遇    331
职位描述    306
dtype: int64

In [5]:
# 查看数据缺失值
print(data.isnull().sum())

城市       0
公司名称     0
学历要求     0
工作经验     1
招聘岗位     0
薪资待遇     0
职位描述    25
dtype: int64

In [6]:
# 查看缺失数据
print(data[data['工作经验'].isnull()])

     城市            公司名称 学历要求 工作经验     招聘岗位          薪资待遇  \
66  上海市  上海爱克丝互联网科技有限公司   本科  NaN  大数据分析助理  5000-7000元/月

                                       职位描述
66  计算机软件统计学理工科相关专业，计算机有软件基础等，工作能力强，工作态度良好，

In [7]:
# 统计
print(data['学历要求'].value_counts())
print(data['工作经验'].value_counts())
print(data['薪资待遇'].value_counts())

学历要求
本科    286
不限     18
硕士     14
大专     12
博士      1
Name: count, dtype: int64
工作经验
5-10年    117
3-5年      99
不限        61
1-3年      44
10年以上      9
Name: count, dtype: int64
薪资待遇
30000-60000元/月    38
20000-40000元/月    22
15000-20000元/月    17
40000-70000元/月    16
25000-50000元/月    15
                  ..
40000-55000元/月     1
50000-60000元/月     1
60000-90000元/月     1
28000-55000元/月     1
28000-40000元/月     1
Name: count, Length: 96, dtype: int64

In [8]:
# 处理薪资待遇列
data['薪资下限'] = data['薪资待遇'].str.extract(r'(\d+)-(\d+)').iloc[:, 0].astype(int)
data['薪资上限'] = data['薪资待遇'].str.extract(r'(\d+)-(\d+)').iloc[:, 1].astype(int)
data.head()

,城市,公司名称,学历要求,工作经验,招聘岗位,薪资待遇,职位描述,薪资下限,薪资上限
0,上海市,神州通誉软件上海股份有限公司,本科,10年以上,大数据开发组长,24000-27000元/月,任职要求：\t\n1、计算机相关专业全日制本科及以上学历，8年及以上数据类(数仓、BI可视化...,24000,27000
1,上海市,上海人工智能网络系统工程技术研究中心有限公司,本科,5-10年,大数据运维工程师,20000-35000元/月,工作职责：\n1.负责 Nebula 和 Doris 集群的部署、升级、监控、维护和优化工作...,20000,35000
2,上海市,上海墨绿科技有限公司,大专,不限,大数据专员,3000-5000元/月,专业处理数据，需要计算机专业，,3000,5000
3,上海市,河南信大网御科技有限公司,本科,3-5年,高级大数据开发工程师,16000-22000元/月,职责描述：\n1、负责运营商B/O/M域的数据分析、挖掘、建模等工作，如城市常住人口、人流量...,16000,22000
4,上海市,上海数禾信息科技有限公司,本科,5-10年,大数据平台开发专家,40000-70000元/月,岗位职责:\n1、参与大数据体系技术选型、架构设计，根据业务场景提供最优的解决方案；\n2、...,40000,70000

In [9]:
# 薪资下限描述统计
print(data['薪资下限'].describe())
# 薪资上限描述统计
print(data['薪资上限'].describe())

count       331.000000
mean      23825.226586
std       12417.328051
min         150.000000
25%       15000.000000
50%       20000.000000
75%       30000.000000
max      100000.000000
Name: 薪资下限, dtype: float64
count       331.000000
mean      39320.845921
std       19673.422016
min         200.000000
25%       25000.000000
50%       35000.000000
75%       57500.000000
max      120000.000000
Name: 薪资上限, dtype: float64

In [13]:
# 展示薪资下限最低的5个样本
print(data.sort_values('薪资下限').head())
print("________________________________________")
# 展示薪资上限最高的5个样本
print(data.sort_values('薪资上限', ascending=False).head())

      城市             公司名称 学历要求  工作经验            招聘岗位          薪资待遇  \
266  上海市  上海达学信息科技工作室个人独资   本科  3-5年  大数据开发工程师（远程办公）    150-200元/月
44   上海市   上海成凯生物医药科技有限公司   不限  1-3年          大数据工程师  2000-3000元/月
14   上海市   上海成凯生物医药科技有限公司   不限  1-3年          大数据工程师  2000-3000元/月
2    上海市       上海墨绿科技有限公司   大专    不限           大数据专员  3000-5000元/月
121  上海市       上海墨绿科技有限公司   大专    不限        大数据服务工程师  3000-5000元/月

                                                  职位描述  薪资下限  薪资上限
266  工作职责:\n1、基于HIVE+SPARK进行数仓、集市开发，可根据需求分析完成数据仓库、数...   150   200
44   1 会深度学习，大模型\n2 掌握Linux python R\n3 在校大学生可实习\n4...  2000  3000
14   1 会深度学习，大模型\n2 掌握Linux python R\n3 在校大学生可实习\n4...  2000  3000
2                                      专业处理数据，需要计算机专业，  3000  5000
121  要求相关专业有一定相关专业基础，\n工作内容\n1、负责大数据的相关服务，确保数据处理的高效...  3000  5000
________________________________________
      城市            公司名称 学历要求   工作经验                   招聘岗位              薪资待遇  \
222  上海市    上海夺畅网络技术有限公司   本科  10年以上           大数据及人工智能技术总监  100000-120000元/月
230  上海市    上海夺汇网络技术有限公司   本科  10年以上           大数据及人工智能技术总监   80000-110000元/月
225  上海市    上海夺畅网络技术有限公司   本科  10年以上           大数据及人工智能技术总监   75000-100000元/月
327  上海市  上海职骋企业管理咨询有限公司   硕士  5-10年  技术总监（计算框架/云原生大数据/大规模）    80000-95000元/月
173  上海市        华为技术有限公司   本科   3-5年              大数据开发（正编）    60000-90000元/月

                                                  职位描述    薪资下限    薪资上限
222  大数据及人工智能技术总监\n工作职责：\n\t1.\t负责制定和实施公司的大数据及人工智能技...  100000  120000
230  工作职责：\n1.\t负责制定和实施公司的大数据及人工智能技术战略和规划，确保技术团队在技术...   80000  110000
225  工作职责：\t\t\n1、负责制定和实施公司的大数据及人工智能技术战略和规划，确保技术团队在...   75000  100000
327  职位描述：\n1、基于Hadoop、Spark、Flink、Ray等开源数据组件，构建云原生...   80000   95000
173  岗位职责：\n1.负责Spark、Hive、Hbase等大数据组件性能优化需求的详细设计和开...   60000   90000

In [10]:
# 删除工作经验缺失行
data.dropna(subset=['工作经验'], inplace=True)
# 删除
# 写入
data.to_csv('job_bigData_cleaned.csv', encoding='utf-8')

In [ ]:
# 展示薪资下限最高的5行